<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication Failed</title>
    <link rel="stylesheet" href="/assets/css/404.css">
</head>

<body>
    <div class="authBody">
        <img class="authImg" src="/assets/images/3793096 1.svg" alt="">
        <span class="authMsg">It seems like the Page you are looking for doesn not exist</span>
        <button id="backToHomeBtn" onclick="redirectToHome()">Go Back To Home</button>
    </div>
    <%- include("home-redirect.ejs") %>
</body>

</html>