<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bulk Upload Books</title>
    <link rel="stylesheet" href="/assets/css/bulk-books.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"
        integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
        integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <%- include("head.ejs") %>
        <div class="bulk_book_top_container">
            <a class="active" href="books"> <img src="/assets/images/Group 11095.svg" alt="arrow-back"></a>
            <span class="bulk_book_span_text">Bulk Upload</span>
        </div>
        <hr>

        <div id="bulkContent">
            <div class="bulk-book-body">
                <span class="bulk-book-instruction-heading">Instructions</span>
                <div class="bulk-book-instructions-div">
                    <div class="bulk-book-instruction-area">
                        <span class="bulk-book-instruction-text-1">1. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit,
                            sed
                            do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</span>
                        <span class="bulk-book-instruction-text-1">2.Inorder to upload books/notes in bulk, please
                            download
                            the template
                            first by clicking on the Download Template button.</span>
                    </div>
                </div>
            </div>
            <div class="bulk-book-bottom-container">
                <div id="dwnldBookTemplateMain" class="bulk-book-download-template">
                    <span class="bulk-book-download-text">Download Template</span>
                    <img class="bulk-book-dwnld-img" src="/assets/images/Vector (2).svg" alt="download-logo">
                </div>
                <div class="bulk-book-upload-assessment">
                    <input id='fileId' type='file' accept=".xls,.xlsx" hidden />
                    <input id="buttonId" class="books-upload-text" type="button" value="Upload Assesment">
                    <img src="/assets/images/Vector (1).svg" alt="upload-logo">
                </div>
            </div>
        </div>

        <div id="getBulkBookModal" class="get-bulk-book-modal">
            <!-- Modal content -->
            <div class="bulk-book-modal-div">
                <div class="bulk-book-modal-close-div">
                    <span class="bulk-book-modal-close">&times;</span>
                </div>
                <div class="bulk-book-file-msg-div">
                    <span class="bulk-book-msg-text">Inorder to upload books/notes in bulk, please download the
                        template
                        first by clicking on the Download Template button.</span>
                </div>
                <div class="bulk-book-download-template-div">
                    <div id="dwnldBookTemplateModal" class="bulk-book-download-template-2">
                        <span class="bulk-book-download-text">Download Template</span>
                        <img class="bulk-book-dwnld-img-2" src="/assets/images/Vector (2).svg" alt="download-logo">
                    </div>
                </div>
            </div>
        </div>

        <div id="ejs">
            <%- include("./preview_books_bulk_upload.ejs") %>
        </div>

        <!--The Modal-->
        <div id="submitModal" class="submitModal">
            <!-- Modal content -->
            <div class="create-assessment-modal-content">
                <div class="create-assessment-close-div">
                    <span class="create-assessment-close">&times;</span>
                </div>
                <div class="create-assessment-modal-body">
                    <span id="submitMsg">Click Submit To Upload Assessments</span>
                </div>
                <div class="create-assessment-bottom-div">
                    <button id="finalSubmit" class="finalSubmit">Submit</button>
                    <!--  onclick="onSubmit()" -->
                </div>
            </div>
        </div>
        <%- include("foot.ejs") %>
            <script type="module" src="../assets/scripts/bulkUploadBook.js"></script>
</body>

</html>