<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/css/dashboard.css">
</head>

<body>
    <div class="dashboard__container">
        <img class="dashboard__img" src="/assets/images/dashboard_screen_logo.svg" alt="iPrep Logo">
        <span id="dashboard__text">Please Select Your Activity</span>

        <div id="text__assessment">
            <img id="text__img" src="/assets/images/Group 11092.svg" alt="">
            <span id="text__span"> Upload Assessments </span>
        </div>

        <div id="video__assessment">
            <img id="play__button" src="/assets/images/play_button.svg" alt="">
            <span id="video__span"> Video Upload (Link) </span>
        </div>

        <div id="books__assessment">
            <img id="vector" src="/assets/images/Vector.svg" alt="">
            <span id="books__span"> Upload Books/Notes </span>
        </div>


        <!-- <input type="submit"  value="Log Out With Google" id="LogoutScreen"> -->

        <!-- <div id="sender">
            <form action="/create" method="post">
                <input type="submit" value="Login With Google" id="LoginScreen"><br><br>
                <input type="submit" value="Log Out With Google" id="LogoutScreen">
            </form>
        </div> -->
        <!-- <div id="verifier">
            <h3>Enter The OTP: </h3>
            <input type="text" id="verificationcode" placeholder="OTP Code">
            <br>
            <input type="button" id="verify" value="Verify" onClick="codeverify()">
        </div> -->
    </div>
    <script src="/assets/scripts/dashboard.js"></script>
    <script>

        // Import the functions you need from the SDKs you need
        // import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.11/firebase-app.js";
        // import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.11/firebase-analytics.js";
        // import { getAuth, /* RecaptchaVerifier, signInWithPhoneNumber, */  signInWithPopup, signOut, onAuthStateChanged, GoogleAuthProvider } from "https://www.gstatic.com/firebasejs/9.6.11/firebase-auth.js";
        // const firebaseConfig = {
        //     apiKey: "AIzaSyDNFbXQo3Fd7PYfWBwGJd6XdihZ3w-yEvk",
        //     authDomain: "node-project-c4942.firebaseapp.com",
        //     databaseURL: "https://node-project-c4942-default-rtdb.firebaseio.com",
        //     projectId: "node-project-c4942",
        //     storageBucket: "node-project-c4942.appspot.com",
        //     messagingSenderId: "581470710657",
        //     appId: "1:581470710657:web:a4792037ef1d415c375680",
        //     measurementId: "G-HQZDXNGMJ3"
        // };

        // Initialize Firebase
        // const app = initializeApp(firebaseConfig);
        // const auth = getAuth()
        // const provider = new GoogleAuthProvider();
        // document.getElementById("LogoutScreen").addEventListener('click', googleLogOut);

        // function googleLogOut() {
        //     signOut(auth).then(() => {
        //         /* console.log('Signed Out'); */
        //     })
        //     .then(() => {
        //         location.href = '/'
        //     })
        //     .catch((error) => {
        //         console.error('Sign Out Error', error);
        //     });
        // }

        // onAuthStateChanged(auth, (user) => {
        //     if (user){
        //         // User is signed in, see docs for a list of available properties
        //         // https://firebase.google.com/docs/reference/js/firebase.User
        //         const email = user.email;
        //         console.log(email);
        //         // ...
        //     } else {
        //         console.log("Signed Out Successfully");
        //         // User is signed out
        //         // ...
        //     }
        // });
    </script>
</body>

</html>