<div class="heading">
    <div class="imgDiv">
        <img class="dashboard__img" src="/assets/images/dashboard_screen_logo.svg" alt="iPrep Logo">
    </div>
    <div class="logOutDiv">
        <button id="logout">Sign Out</button>
    </div>
</div>
<hr class="hrule_1">