<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/assets/css/login.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- The surrounding HTML is left untouched by FirebaseUI.
         Your app may use that space for branding, controls and other customizations.-->
    <div class="imgDiv">
        <img class="login__img" src="/assets/images/login_screen_logo.svg" alt="iPrep Logo">
    </div>
    <div id="login__container" class="login__container">
        <span class="login_text">Log in</span>
        <span class="span_text">Please choose a method below to login to your account</span>

        <input type="email" id="email" placeholder="Enter Your Email Address">
        <span class="wrongUser"></span>
        <span class="or">Or</span>
        <div class="phoneInputContainer">
            <div class="codeContainer">
                <select name="country" id="country">
                    <option selected value="+91">+91</option>
                </select>
            </div>
            <input type="text" id="phone" placeholder="Enter Your Phone Number">
        </div>
        <span class="wrongPhone"></span>
        <span class="emptyFieldMsg">Please enter either your email address or your mobile number to login</span>
        <div id="submit" class="cont-3">
            Continue
            <div class="imgDiv">
                <img src="/assets/images/chevron-forward-outline.svg" alt="">
            </div>
        </div>
    </div>
    <div id="snackbar">
        <div class="yellow"></div>
        <div class="blue"></div>
        <div class="green"></div>
        <div class="sentMailText">We have sent a link to the above email account. Please check your inbox.</div>
    </div>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-analytics.js";
        import { getAuth, getAdditionalUserInfo, RecaptchaVerifier, signInWithPhoneNumber, signInWithEmailAndPassword, signInWithPopup, signOut, onAuthStateChanged, GoogleAuthProvider } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-auth.js";

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyDNFbXQo3Fd7PYfWBwGJd6XdihZ3w-yEvk",
            authDomain: "node-project-c4942.firebaseapp.com",
            databaseURL: "https://node-project-c4942-default-rtdb.firebaseio.com",
            projectId: "node-project-c4942",
            storageBucket: "node-project-c4942.appspot.com",
            messagingSenderId: "581470710657",
            appId: "1:581470710657:web:a4792037ef1d415c375680",
            measurementId: "G-HQZDXNGMJ3"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);

        const emailValue = document.getElementById("email");
        const phoneNumberField = document.getElementById('phone');
        const getCodeButton = document.getElementById('submit');
        const wrongUser = document.querySelector(".wrongUser");
        const wrongPhone = document.querySelector(".wrongPhone");
        wrongUser.style.display = "none";
        wrongPhone.style.display = "none";

        document.getElementsByClassName("emptyFieldMsg")[0].style.display = "none"

        const auth = getAuth(app);

        document.getElementById("email").addEventListener("keyup", (e) => {
            if (e.target.value != "") {
                document.getElementById("phone").setAttribute("disabled", true);
                document.getElementById("email").classList.add("active")
                if (document.getElementById("phone").hasAttribute("class")) {
                    document.getElementById("phone").removeAttribute("class")
                }
            }
            else {
                document.getElementById("phone").removeAttribute("disabled");
                document.getElementById("email").removeAttribute("class")
            }
        })

        document.getElementById("phone").addEventListener("keyup", (e) => {
            if (e.target.value != "") {
                document.getElementById("email").setAttribute("disabled", true);
                document.getElementById("phone").classList.add("active")
                if (document.getElementById("email").hasAttribute("class")) {
                    document.getElementById("email").removeAttribute("class")
                }
            }
            else {
                document.getElementById("email").removeAttribute("disabled");
                document.getElementById("phone").removeAttribute("class")
            }
        })

        getCodeButton.addEventListener('click', async (e) => {

            if (emailValue.hasAttribute("class") || phoneNumberField.hasAttribute("class")) {
                const targetInput = document.getElementsByClassName("active");
                const provider = targetInput[0].getAttribute("id");
                const countryCode = document.getElementById("country").value;
                const phnNum = countryCode + phoneNumberField.value;
                let inputValue;

                if (provider == "email") {
                    inputValue = document.getElementById(provider).value;
                }
                else {
                    inputValue = phnNum;
                }

                const providerInputValue = {
                    providerVal: provider,
                    inputVal: inputValue,
                }

                if (!inputValue) {
                    return;
                }

                const option = {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(providerInputValue),
                };

                fetch("/checkUserStatus", option)
                    .then((response) => {
                        return response.json()
                    })
                    .then((response) => {
                        if (response.user) {  // user exists
                            if (response.status != 0) {
                                const userDataMail = {
                                    uid: response.user.uid,
                                    email: inputValue,
                                }
                                localStorage.setItem('userInfo', JSON.stringify(userDataMail))
                            }
                            else {
                                const userDataPhone = {
                                    uid: response.user.uid,
                                    phoneNum: response.user.phoneNumber,
                                }
                                localStorage.setItem('userPhoneInfo', JSON.stringify(userDataPhone))
                            }
                            if (response.provider == 'email') {
                                const userDataInfo = {
                                    uid: response.user.uid,
                                    userEmail: inputValue,
                                    linkUrl: "http://localhost:3000/emailLogin",
                                    platformTitle: "CMS",
                                    customerContactEmail: "mauryavinay96@gmail.com",
                                }
                                if (response.status == 1) {	// user has already set up a password
                                    location.href = "/emailLogin";
                                } else { // user hasn't set up a password yet
                                    //location.href = "/setPassword";
                                    const userOpt = {
                                        method: "POST",
                                        headers: {
                                            "Content-Type": "application/json",
                                        },
                                        body: JSON.stringify(userDataInfo),
                                    };

                                    fetch("/resetPassword", userOpt)
                                        .then((res) => {
                                            return res.json();
                                        })
                                        .then((result) => {
                                            console.log(result);
                                        })
                                        .catch((err) => {
                                            console.log(err);
                                        })

                                    // Get the snackbar DIV
                                    let x = document.getElementById("snackbar");
                                    // Add the "show" class to DIV
                                    x.className = "show";
                                }

                            } else {    // provider = phone number
                                // send verification code
                                sessionStorage.setItem("isRedirected", true)
                                location.href = "/loginWithPhone"
                            }
                        }
                        else {    // user doesn't exist
                            if (response.status == 0 && response.provider == "phone") {
                                wrongPhone.innerHTML = "This phone number does not exist"
                                wrongPhone.style.display = "block"
                            }
                            else {
                                document.getElementById("email").style.borderColor = "red";
                                wrongUser.innerHTML = "This email address does not exist"
                                wrongUser.style.display = "block"
                            }
                            //alert("User Doesn't Exist!!");
                        }
                    }).catch((error) => {
                        if (document.getElementById("email").value != "") {
                            wrongEmail.style.display = 'block';
                            document.getElementById("email").style.borderColor = "red"
                        }
                        console.log(error)
                    })
                return false
            }
            else {
                document.getElementsByClassName("emptyFieldMsg")[0].style.display = "block";
                document.getElementById("email").style.borderColor = "red";
                document.getElementsByClassName("phoneInputContainer")[0].style.borderColor = "red";
            }
        })

        phoneNumberField.addEventListener("input", () => {
            document.getElementById("email").style = "none";
            document.getElementsByClassName("phoneInputContainer")[0].style = "none";
            document.getElementsByClassName("emptyFieldMsg")[0].style.display = "none";
            wrongUser.style = "none"
            wrongPhone.style.display = "none"
        })

        emailValue.addEventListener("input", () => {
            document.getElementById("email").style = "none";
            document.getElementsByClassName("phoneInputContainer")[0].style = "none";
            document.getElementsByClassName("emptyFieldMsg")[0].style.display = "none"
        })

        const emailRegex = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/

        $("#email").on("keyup", function () {
            let mailValue = $("#email").val();
            if (!emailRegex.test(mailValue) && mailValue.length != 0) {
                $("#email").css("border", "2px solid red");
                wrongUser.innerHTML = "not valid email id"
                $(".wrongUser").css("display", "block");
                emailValue.focus();
            } else {
                $("#email").css("border", "2px solid #E2E8F0");
                $(".wrongUser").css("display", "none");
            }
        });
    </script>
</body>

</html>