<div class="videos-bulk-preview-body">
    <span class="videos-select-text">Select The Tab</span><br>
    <select class="videos-select-topics" name="topics" id="topics" onchange="displayNextBtn()">
        <option selected value="">Select Topic</option>
        <!-- <option id="opt-1" value="Relations and Functions">Relations And Functions</option>
        <option id="opt-2" value="Algebra">Algebra</option>
        <option id="opt-3" value="Probability">Probability</option>
        <option id="opt-4" value="Calculus">Calculus</option> -->
    </select>
    <div id="set_questions"></div>
    <div>
        <button id="submit">Next</button>
    </div>
</div>