<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/assets/css/setPassword.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="imgDiv">
        <img class="login__img" src="/assets/images/login_screen_logo.svg" alt="iPrep Logo">
    </div>
    <div class="login_body">
        <span class="login">Log in</span>
        <span class="login_text">In order to login please create a new password for your account</span>

        <div class="inputField">
            <span class="emailText">Email</span>
            <input type="email" id="emailField1" placeholder="Enter Your Email Address" disabled>
            <span class="passwordText">New Password</span>
            <div class="setPasswordDiv">
                <div class="inputContainer">
                    <input type="password" id="newPassword" placeholder="Type your password">
                    <div class="eyeContainer">
                        <i class="bi bi-eye-slash eye" id="togglePassword1"></i>
                    </div>
                </div>
                <div class="tooltip">
                    <span class="tooltiptext">Password length must be between 8 to 15 characters, and it should contain
                        at least one
                        lowercase letter, one uppercase letter, one numeric digit, and one special character.</span>
                    <img class="instructions" src="/assets/images/ic_outline-live-help.svg" alt="instructions">
                </div>
            </div>
            <span class="passwordText">Confirm Password</span>
            <div class="inputContainer">
                <input type="password" id="confirmPassword" placeholder="Confirm password">
                <div class="eyeContainer">
                    <i class="bi bi-eye-slash eye" id="togglePassword2"></i>
                </div>
            </div>
        </div>
        <span id="errMsg"></span>
        <span class="continue" id="submitNewPassword">Submit</span>

        <!--The Modal-->
        <div id="setPasswordModal" class="setPasswordModal">
            <!-- Modal content -->
            <div class="set-password-modal-content">
                <div class="set-password-modal-body">
                    <img class="successfulImg" src="/assets/images/Screenshot 2022-06-20 at 5.49 2.svg" alt="done">
                    <span class="successfulText">Password Successfully Created</span>
                    <div id="proceed" class="proceed">
                        <span class="proceedText">Proceed To Login</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="module" src="/assets/scripts/setPassword.js"></script>

</html>