<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>
    <form action="/dashboard" method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>

        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>

        <label for="phone">Phone:</label><br>
        <input type="tel" id="phoneNum" name="phone"><br>

        <label for="email">Email Id:</label><br>
        <input type="email" id="email" name="emailId"><br><br>

        <input type="submit" value="Sign Up">
      </form>
</body>
</html>