<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Note Links</title>
    <link rel="stylesheet" href="/assets/css/uploadNotes.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <%- include("head.ejs") %>
        <div class="top__container">
            <a class="active" href="books"> <img src="/assets/images/Group 11095.svg" alt="arrow-back"></a>
            <span class="create_assessment_text">Upload Notes/Books Links</span>
        </div>
        <div class="hr"></div>
        <div class="notes-set-ques">
            <!-- <span class="question_text">Video Links</span> -->
            <div id="notes_form">
                <div class="delete-btn-div">
                    <div class="notes-ques-forms" id="question_form_1">
                        <div class="notes-ques-area">
                            <span class="notes-question-num">1.</span>
                            <input type="text" name="notesName" class="notes-name" placeholder="Notes/Books Name">
                            <input type="text" class="notes-link" name="notesLink" placeholder="Notes/Books Link">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="notes-btn-div">
            <span id="nextQues" class="next-link" onclick="add_more_notes_field()"><img
                    src="/assets/images/Group 11121 (1).svg" alt="addMore"></span>
            <input type="submit" id="noteSubmit">
        </div>
        <div id="submitModal" class="submitModal">
            <!-- Modal content -->
            <div class="create-assessment-modal-content">
                <div class="create-assessment-close-div">
                    <span class="create-assessment-close">&times;</span>
                </div>
                <div class="create-assessment-modal-body">
                    <span id="ImgProgress">Click Submit To Upload Assessments.</span>
                </div>
                <div class="create-assessment-bottom-div">
                    <button id="finalSubmit" class="finalSubmit">Submit</button>
                </div>
            </div>
        </div>
        <%- include("foot.ejs") %>
            <script src="/assets/scripts/upload_note_links.js"></script>
</body>

</html>