body{
    margin: 0;
    padding: 0;
}

.top__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.iPrep__img {
    margin-top: 40px;
    margin-left: 610px;
}

.active {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    margin-left: 144px;
}

.span__text {
    width: 222px;
    height: 27px;
    margin-left: 609px;
    margin-top: 168px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #64748B;
}

hr {
    width: 1152px;
    height: 0px;
    margin-left: 144px;
    margin-top: 33px;
    border: 1px solid #DEDEDE;
}

.middle__container {
    display: flex;
    flex-flow: row wrap;
}

#single__upload {
    width: 270px;
    height: 56px;
    margin-top: 50px;
    margin-left: 144px;
    background: rgba(0, 119, 255, 0.05);
    border: 2px solid #64748B;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
}

#single__upload:hover {
    border-color: #0077FF;
}

.single__assessment__logo {
    width: 27.7px;
    height: 34px;
    margin-left: 25px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.single__assessment__text {
    height: 22px;
    margin-left: 11px;
    margin-top: 17px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #64748B;
}

#bulk__upload {
    width: 270px;
    height: 56px;
    margin-top: 50px;
    margin-left: 24px;
    background: rgba(0, 119, 255, 0.05);
    border: 2px solid #64748B;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
}

#bulk__upload:hover {
    border-color: #0077FF;
}

.bulk__assessment__logo {
    width: 42.7px;
    height: 34px;
    margin-left: 24px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.bulk__assessment__text {
    height: 22px;
    margin-left: 11px;
    margin-top: 17px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #64748B;
}

.middle__hr {
    width: 1152px;
    height: 0px;
    margin-left: 144px;
    margin-top: 50px;
    border: 1px solid #DEDEDE;
}

.bottom__container {
    display: flex;
    flex-flow: row wrap;
}

.bottom__text {
    width: 75px;
    height: 27px;
    margin-left: 144px;
    margin-top: 23px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #94A3B8;
    justify-content: flex-start;
}

.history__box {
    width: 1152px;
    height: 330px;
    margin-left: 144px;
    margin-top: 18px;
    margin-bottom: 242px;
    background: #F8F8F8;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 564px;
    border-radius: 20px;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.close-div {
	display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}


.form-text {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 262px;
    height: 24px;
    margin-left: 141px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #64748B;
}

.form-div {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container {
	width: 564px;   
    left: 438px;
    top: 225px;
    background: #FFFFFF;
}

.select-div {
	display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 50px;
}

#class {
    margin-top: 10px;
    width: 368px;
    height: 56px;
    border: 1px solid #CBD5E1;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #94A3B8;
}

#common {
    margin-top: 40px;
    width: 368px;
    height: 56px;
    border: 1px solid #CBD5E1;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #94A3B8;
}

.btn {
    margin-top: 40px;
    margin-left: 98px;
    margin-bottom: 40px;
    width: 368px;
    height: 56px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    background: #0077FF;
    border-radius: 8px;
    border: 2px solid #0077FF;
}

.btn:hover{
    border-color: #64748B;
}








/* ---- For Modal 2 ------- */



/* The Modal-2 (background) */
.modal-2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content-2 {
    background-color: #fefefe;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 564px;
    border-radius: 20px;
}
  
/* The Close Button */
.close-2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-content: flex-end;
}

.back-2 {
    align-content: flex-start;
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
}

.back-2:hover,
.back-2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
.close-2:hover,
.close-2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.close-div-2 {
	display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* align-content: flex-end; */
}

.form-div-2 {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.custom-div {
	display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.btn-2 {
    width: 368px;
    height: 56px;
    background: #0077FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    border: 2px solid #0077FF;
}

.btn-2:hover {
    border-color: #64748B;
}

.form-text-2 {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 262px;
    height: 24px;
    margin-left: 141px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #64748B;
}

#common-1{
    margin-top: 40px;
    width: 368px;
    height: 56px;
    border: 1px solid #CBD5E1;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;
}

#common-2{
    margin-top: 40px;
    width: 368px;
    height: 56px;
    border: 1px solid #CBD5E1;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;
}

.modal_2_text{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 262px;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #64748B;
}

#custom-q-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#Q_btn {
    margin-top: 40px;
    margin-left: 25px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: white;
}

#Q_btn:hover{
    border-color: #0077FF;
}

#opt_btn {
    margin-left: 25px;
    margin-top: 40px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: white;
}

#opt_btn:hover {
    border-color: #0077FF;
}

#custom-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 69px;
}