@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter;
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 60px;
    overflow: hidden;
    position: relative;
    padding: 0 3rem;
}

.dashboard__img {
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    align-self: center;
    justify-self: center;
}

#logout{
    width: 75px;
    height: 27px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    color: #0077FF;
    background-color: #FFFFFF;
    border: 1px solid #0077FF;
}

.hrule_1{
    width: 100vw;
    margin: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
}

.top__container {
    display: flex;
    align-items: center;
    height: 108px;
    margin-left: 9rem;
}

.backDiv{
    width: 37%;
}

/* .active {
    margin-left: 153px;
    margin-top: 39px;
} */

.create_assessment_text {
    font-size: 22px;
    font-weight: 500;
    color: #64748B;
    /* margin-top: 43px;
    margin-left: 434px; */
    line-height: 27px;
}

.hr {
    border: 1px solid #e1e1e1;
    flex: 1;
    height: 0px;
    overflow: hidden;
    margin: 0rem 9rem 0 9rem;
}

.set_questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 46px;
}

.question_text {
    width: 96px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #334155;
}

.instructionDiv{
    width: 956px;
    height: 107px;
    left: 242px;
    top: 258px;
    display: flex;
    margin-top: 16px;
    margin-bottom: 33px;
    flex-direction: column;
    background: #FAFAFA;
    border-radius: 20px;
}

.instructionTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #64748B;
    display: flex;
    margin-top: 13px;
    margin-left: 38px;
}

.instructionMsgDiv{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #475569;
    width: 887px;
    height: 44px;
    margin-top: 11px;
    margin-left: 38px;
}

#assessment_form{
    margin-top: 10px;
}

.question_forms{
    position: relative;
    margin-bottom: 40px;
}

.delete-btn-div{
    display: flex;
    align-items: center;
}

.deleteBtn{
    top: 0;
    right: -90px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    cursor: pointer;
    background-color: white;
    color: #212121;
    border: none;
}

.deleteSign{
    margin-right: 5px;
}

.question_area {
    width: 1050px;
    height: 107px;
    background: #FAFAFA;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.option_area{
    width: 1050px;
    height: 300px;
    background: #FAFAFA;
    border-radius: 20px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.question_num {
    border-radius: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #334155;
    margin-left: 40px;
}

.question {
    border-style: none;
    width: 640px;
    height: 40px;
    margin-left: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #475569;
    background-color: #FAFAFA;
}

.option {
    border-style: none;
    width: 640px;
    height: 40px;
    margin-left: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #475569;
    background-color: #FAFAFA;
}

.btn_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#uploadAssessment {
    width: 368px;
    height: 60px;
    background: #0077FF;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 43px;
    border-style: none;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

#uploadAssessment:active {
    transform: translateY(4px);
}

.quesImage {
    margin-left: 32px;
}

.optImage {
    margin-left: 32px;
}

.nextQuesText{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #475569;
    margin-top: 11px;
}

.next_ques:hover{
    cursor: pointer;
}

.next_ques:active {
    transform: translateY(4px);
}

/* The Modal */
.submitModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.create-assessment-modal-content {
    background-color: #fefefe;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 564px;
    border-radius: 20px;
}

/* The Close Button */
.create-assessment-close-div {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
}

.create-assessment-close{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.create-assessment-close:hover,
.create-assessment-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.create-assessment-modal-body{
    display: flex;
    height: 150px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.create-assessment-bottom-div{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.reUpload{
    width: 183px;
    height: 40px;
    background: #D3D3D3;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    border-style: none;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

.finalSubmit{
    width: 183px;
    height: 40px;
    background: #0077FF;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 25px;
    border-style: none;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.finalSubmit:active {
    transform: translateY(4px);
}

#ImgProgress, #textSpan, #err{
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
    text-align: center;
    color: #334155;
}

@media (max-width:910px) {
    .backDiv {
        width: 30%;
    }
    
}

.upload-image{
    width: 116px;
    height: 31px;
    background: #F4F4F5;
    border: 1px solid #CBD5E1;
    border-radius: 6px;
    display: flex;
    cursor: pointer;
}

.opt_a{
    display: flex;
    align-items: center;
}