@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Inter;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-height: 60px;
    overflow: hidden;
    position: relative;
    padding: 0 3rem;
}

.dashboard__img {
   height: 80px;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   margin: auto;
   align-self: center;
   justify-self: center;
}

#logout{
    width: 75px;
    height: 27px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    color: #0077FF;
    background-color: #FFFFFF;
    border: 1px solid #0077FF;
}

.hrule_1{
    width: 100vw;
    margin: 0;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
}

.dashboard__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dashboard__text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #475569;
    margin-top: 125px;
    margin-bottom: 62px;
}

#text__assessment {
    width: 368px;
    height: 116px;
    cursor: pointer;
    border: 2px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

#text__assessment:hover {
    border-color: #0077FF;
}

#text__span {
    width: 182px;
    height: 22px;
    cursor: pointer;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    color: #64748B;
}

#video__assessment {
    width: 368px;
    height: 116px;
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

#video__assessment:hover {
    border-color: #0077FF;
}

#video__span {
    width: 168px;
    height: 22px;
    cursor: pointer;
    background: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #64748B;
}

#books__assessment {
    width: 368px;
    height: 116px;
    cursor: pointer;
    background: #FFFFFF;
    border: 2px solid #E2E8F0;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

#books__assessment:hover{
    border-color: #0077FF;
}

#books__span {
    width: 168px;
    height: 22px;
    cursor: pointer;
    background: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #64748B;
}

#text__img {
    margin-right: 21px;
}

#play__button {
    margin-right: 21px;
}

#vector {
    margin-right: 21px;
}